.App{
  width: 100vw;
  min-height: 100vh;
  background-color: black;
}
.populertitle {
  padding-left: 7%;
  margin-top: -10px;
  color: white;
  font-family: monospace;
  font-size: 1.75rem;
  font-weight: 900;
}
.populerscroll{
  margin-top: 2%;
  display: flex;
  overflow-x: scroll;
  gap: 15px;
}

::-webkit-scrollbar{
  width: 0px;
}

.recentlywatched{
  padding-left: 7%; 
  color: white;
  font-family: monospace;
  font-size: 1.75rem;
  font-weight: 900;
}

.recentlywatchedscroll{
  margin-top: 2%;
  display: flex;
  overflow-x: scroll;
  gap: 15px;
}